.welcome-note {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 960px;
}

.welcome-note .span {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 743px 0px 0px;
    position: relative;
    width: 100%;
}

.welcome-note .text-wrapper {
    color: #042238;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.welcome-note .div-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 698px 0px 0px;
    position: relative;
    width: 100%;
}

.welcome-note .div {
    color: #042238;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}